<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/template :: header">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-12">
			<nav th:replace="/layout/template :: navegacion"></nav>
			<div class="card mt-5">
				<div class="card-header"></div>
				<div class="card-body">
				<a class="btn btn-primary" href="/compañias/form">Registrar Compañia</a>
						<table class="table mt-3">
							<thead class="thead-dark">
								<tr>
									<th scope="col">ID </th>
									<th scope="col">NOMBRES</th>
									<th scope="col">DIRECCION</th>
									<th scope="col">TELEFONO</th>
									<th scope="col">RUC</th>
									<th scope="col">EDITAR</th>
									<th scope="col">ELIMINAR</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="compañia : ${compañias}">
									<th scope="row" th:text="${compañia.id}"></th>
									<td th:text="${compañia.nombre}"></td>
									<td th:text="${compañia.direcion}"></td>
									<td th:text="${compañia.telefono}"></td>
									<td th:text="${compañia.ruc}"></td>
									<td><a class="btn btn-warning"
										th:href="@{/compañias/form/} +${compañia.id}" th:text="Editar"></a></td>
									<td><a class="btn btn-danger"
										th:href="@{/compañias/eliminar/} +${compañia.id}" th:text="Eliminar" onclick="returnconfirm('Estas seguro de eliminar')"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
			</div>
		</div>		
	</div>
</div>
</body>
</html>