<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="/layout/template :: header" >
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<nav th:replace="/layout/template :: navegacion"></nav>
			<div class="card">
				<div class="card-header"></div>
				<div class="card-body">
				<h3 th:if="ERROR!=null" th:text="${ERROR}" style="color:red"></h3>		
				
					<form th:action="@{/destinos/insertar}" th:objecto="${destino}" method="POST">
						<div class="form-group">
							<label for="ciudad_dest">Ciudad destino </label>	
							<input type="text" class="form-control" th:field="*{ciudad_dest}" name="ciudad_dest">
						</div>
						<div class="form-group">
							<label for="cost_dest">Costo del destino </label>	
							<input type="text" class="form-control" th:field="*{cost_dest}" name="cost_dest">
						</div>
						<div class="form-group">
							<label for="nAero">Numero de Aeropuerto</label>	
							<input type="number" class="form-control" th:field="*{nAero}" name="nAero">
						</div>
						<input type="submit" th:value="${btn}" class="btn btn-primary">
					</form>
				</div>		
			</div>
		</div>
	</div>
</div>
</body>
</html>
	